/*商品列表conten1 css样式*/
/*商品列表conten1 conten1_top css样式*/
.conten1{width: 100%;height: 326px;}
.conten1_top{overflow: hidden;border-bottom: #f0f0f0 1px solid;}
.conten1_top ul{overflow: hidden;list-style: none;padding-left: 15px;}
.conten1_top ul li{float: left; width: 205px;text-align: center;line-height: 44px;font-size: 13px;cursor: pointer;font-weight: 600;}
/*商品列表conten1 conten1_bottom css样式*/
/*鼠标移动切换的样式CSS*/
.tab_li{border-bottom:2px solid #d93600;position:relative;color:#d93600;}
.conten1_bottom{overflow: hidden;border-bottom: #f0f0f0 1px solid;}
.conten1_bottom .conten1_b_left{float:left;display: none;}
/*.conten1_bottom .conten1_b_left{font-size: 13px;}*/

/*getJson获得的列表数据添加的css样式*/
.conten1_b_left_div{float: left;width: 162px;height: 202px;margin-left:40px;margin-top:25px;padding-bottom:15px;}
.conten1_bottom .conten1_b_left img{width: 160px;height: 160px;}
.shopid{text-decoration: none;font-size: 13px;color: #3C3C3C;margin-top: 3px;}
.shopid:hover{text-decoration: underline;color: #C40000;}
.price{color:#cc0000;font-weight: 600;}
.pricename{color:#999999;font-size: 12px;margin-right: 3px;}
.priceid{margin-top: 5px;}
.price_c{margin-top: 2px;}
/*右边 content1 图片*/
.conten1_bottom .conten1_b_right{width: 220px;height: 250px;float:left;margin-left: 25px;}
