<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录_用户中心_莆田商城_莆田网—同城购，就够了！</title>
		<link rel="shortcut  icon" type="image/x-icon" href="loginImg/favicon3.ico" media="screen"  />
		<!--JQ库和cookie文件-->
		<script src="../jq/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../jq/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<!--头部和尾部的css文件和js文件-->
		<link rel="stylesheet" type="text/css" href="../header_footer_css/herder_footer.css"/>
		<script src="../header_footer_css/header_footer.js" type="text/javascript" charset="utf-8"></script>
		<!--登录页面css样式文件和js文件-->
		<link rel="stylesheet" type="text/css" href="shopping_login.css"/>
		<script src="shopping_login.js" type="text/javascript" charset="utf-8"></script>
		<!--字体包-->
		<link rel="stylesheet" type="text/css" href="../iconfont/iconfont.css"/>
	</head>
	<body>
		<!--头部header-->
		<div id="header" style="border: none;">
			<!--logo-->
			<div class="logo clear" >
				<!--头部logo微信定位-->
				<div id="weixin">
					<img src="J3_header_footer_img/PSTV9.png"/>
				</div>
				<!--logo的左边部分-->
				<div class="logo_left " style="margin-right: 0;">
					<span>欢迎光临本店！</span>
					<span><a href="shopping_login.html">请登录</a></span>
					<span><a href="../shopping_regsiter/shopping_regsiter.html">免费注册</a></span>
					<span><a href="# "><img src="J3_header_footer_img/shouji.png "/>关注微信</a></span>
				</div>
				<!--logo的右边部分-->
				<div class="logo_right " >
					<ul class="clear ">
						<li>
							<a href="# ">我的信息<img src="J3_header_footer_img/1.png " /></a>
						</li>
						<li class="l_r_font ">
							<a href="# "><img src="J3_header_footer_img/X1.png " />我的订单</a>
						</li>
						<li class="l_r_font ">
							<a href="../shopping_chainCart/chainCart.html"><img src="J3_header_footer_img/QA.png " />购物车</a>
						</li>
						<li>
							<a href="# ">收藏夹<img src="J3_header_footer_img/1.png " /></a>
						</li>
						<li id="shouji">
							<a href="# "><img src="J3_header_footer_img/shouji.png " />手机版<img src="J3_header_footer_img/1.png " /></a>
						</li>
						<li id="shangjia">
							<a href="# ">商家支持<img src="J3_header_footer_img/1.png " /></a>
						</li>
						<li>
							<a href="# ">卖家中心</a>
						</li>
												<!--我的信息下拉框 -->
						<ul id="my_news1" >
							<li style="float: none;"><a href="">已买到的宝贝</a></li>
							<li style="float: none;"><a href="">我的管理地址</a></li>
						</ul>
						<ul id="my_news2" >
							<li style="float: none;"><a href="">已买到的宝贝</a></li>
							<li style="float: none;"><a href="">我的管理地址</a></li>
						</ul>
						<ul id="my_news3" >
							<li style="float: none;"><a href="">已买到的宝贝</a></li>
							<li style="float: none;"><a href="">我的管理地址</a></li>
						</ul>
						<ul id="my_news4" >
							<li style="float: none;"><a href="">已买到的宝贝</a></li>
							<li style="float: none;"><a href="">我的管理地址</a></li>
						</ul>
						<ul id="my_news5" >
							<li style="float: none;"><a href="">已买到的宝贝</a></li>
							<li style="float: none;"><a href="">我的管理地址</a></li>
						</ul>
					</ul>
				</div>
			</div>
			<!--导航栏nav-->
			<div class="nav ">
				<!--导航栏nav  上层-->
				<div class="sub_nav1 ">
					<!--导航栏nav  上层     左边-->
					<div class="s_n_img1 " style="padding:40px 0 0 125px;">
						<a href="../shopping_index/s_index.html"><img src="J3_header_footer_img/logo.jpg.png " /></a>
					</div>
				</div>
			</div>
		</div>
	
		<!--登录 表单 login-->
		<div id="login">
			<div id="login_top">
				<h6>用户登录</h6>
				<a href="../shopping_regsiter/shopping_regsiter.html">注册</a>
				<p>我还没有注册，马上去</p>
			</div>
			<div id="login_bottom">
				<!--<form action="" method="post">-->
					<div class="form">
						<div class="item">
							<span class="lable "><span class="iconfont">&#xe7e6;</span>&nbsp;&nbsp;</span>
							<input type="text" name="username" class="logintext" id="loginname" value="" placeholder="用户名" />
						</div>
						<div class="item">
							<span class="lable"><span class="iconfont">&#xe908;</span>&nbsp;&nbsp;</span>
							<input type="password" name="password" class="logintext" id="loginpwd" value="" placeholder="密码" />
						</div>
						<div class="item">
							<span style="margin-left: 62px;"></span>
							<input type="checkbox" name="checkbox" class="checkbox" id="cookiekeep" value="" />
							<label style="font-size: 14px;">请保存我这次的登录信息。</label>
						</div>
						<div class="item" style="overflow: hidden;">
							<button class="loginbutton" id="login_confirm">登录</button>
							<a href="#" class="backpwd">密码问题找回密码</a>
							<a href="#" class="backpwd">注册邮件找回密码</a>
						</div>
						<div class="item_no">
							<span><a href="#"><img src="loginImg/qq_login.gif"/>QQ</a></span>
							<span><a href="#"><img src="loginImg/sina_login.gif"/>新浪</a></span>
							<span><a href="#"><img src="loginImg/alipay_login.gif"/>支付宝</a></span>
							<span><a href="#"><img src="loginImg/taobao_login.gif"/>淘宝</a></span>
						</div>
					</div>					
<!--				</form>-->
				<!--right-->
				<div id="guide">
					<img src="loginImg/login.jpg"/>
				</div>
			</div>
		</div>
			
		<!--尾部footer-->
		<div id="footer">
						
			<!--尾部footer 下层 bottom-->
			<div class="f_bottom ">
				<div class="f_b_one ">
					<ul>
						<li style="padding-left: 180px; "><a href=" ">关于我们</a></li>
						<li><a href=" #">联系我们</a></li>
						<li><a href="# ">人才招聘</a></li>
						<li><a href=" #">商家入驻</a></li>
						<li style="border: none; "><a href="# ">登录商家管理中心</a></li>
					</ul>
				</div>
				<div class="f_b_tow ">
					<ul>
						<li><a href=" #">&copy;2005-2016 莆田商城 版权所有，并保留所有权利。</a></li>
						<li><a href="# "> 福建省莆田市城厢区筱塘南街85号</a></li>
						<li><a href="# "> Tel: 0594-7966595</a></li>
						<li><a href=" #">E-mail: 250990567@qq.com</a></li>
					</ul>
				</div>
				<div class="f_b_three ">
					<ul>
						<li><a href="#"><img src="J3_header_footer_img/button_old_41.gif "/>&nbsp;250990567</a></li>
					</ul>
				</div>				
			</div>
		</div>
	
	</body>
</html>
